*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/shelf
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.kotlin/

.idea/

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/fastlane/report.xml

app/release/
app/debug/
*.apk
*.aab
/build/
/*/build/
/*/*/build/
/.kotlin/
.kotlin/sessions/
/.kotlin


xcuserdata
iosApp/Pods
iosApp/Podfile.lock
iosApp/iosApp.xcworkspace/xcshareddata/
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/
iosApp/iosApp.xcodeproj/xcuserdata/

androidApp/release/
androidApp/debug/

gradle-user-home
/.plist